@(modelName: String, fields: scala.collection.immutable.ListMap[String, org.oil.Field[_]])

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-4") }

@main("Create") {
	<div class="row">
		@b3.form(controllers.CRUD.routes.MainController.create(modelName)) {
			@for((name, field) <- fields) {
				@b3.inputType(field.inputProvider.inputType, field.toPlayField(name), '_label -> name, 'placeholder -> "")
			}
			@b3.submit('class -> "btn btn-primary"){ Submit }
		}
	</div>
}