@(modelName: String, fields: scala.collection.immutable.ListMap[String, org.oil.Field[_]],
		crumbs: scala.collection.immutable.List[(String, Boolean, Call)])

@import org.oil.routes.MainController

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-4") }

@main("Create", crumbs) {
	<div class="row">
		@b3.form(MainController.create(modelName)) {
			@for((name, field) <- fields) {
				@field.render(name)
			}
			@b3.submit('class -> "btn btn-primary"){ Submit }
		}
	</div>
}