@(pages: Seq[(String, Call)])

@main("Models", pages) {

    <div class="row">
        <p class="lead">You have <mark>42</mark> models registered.</p>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>Model Name</th>
                    <th>Entries</th>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">Person</a></td>
                        <td><span class="badge">40</span></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><span class="badge">21</span></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td><span class="badge">4</span></td>
                    </tr>
                    <tr>
                        <td>House</td>
                        <td><span class="badge">10</span></td>
                    </tr>
                    <tr>
                        <td>Club</td>
                        <td><span class="badge">3</span></td>
                    </tr>
                    <tr>
                        <td>Car</td>
                        <td><span class="badge">6</span></td>
                    </tr>
                    <tr>
                        <td>School</td>
                        <td><span class="badge">10</span></td>
                    </tr>
                    <tr>
                        <td>Shopping Center</td>
                        <td><span class="badge">2</span></td>
                    </tr>
                    <tr>
                        <td>Animal</td>
                        <td><span class="badge">7</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <nav class="text-center">
            <ul class="pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
        </nav>
    </div>
}
