@(modelName: String, form: org.oil.Form[_, _], crumbs: scala.collection.immutable.List[(String, Boolean, Call)])

@import org.oil.routes.MainController

@implicitFieldConstructor = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-4") }

@scripts = {
  @Html(form.fields.values.map(_.inputProvider.includes.toString).toSet.mkString)
}

@main("Create", crumbs, scripts){
	<div class="row">
		@b3.form(MainController.create(modelName)) {
			@for((name, field) <- form.fields) {
				@field.render(name)
			}
			@b3.submit('class -> "btn btn-primary"){ Submit }
		}
	</div>
}